inst/validation/schematrons/schematrons/1.0/peer-review-errors-2.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2021 JATS4Reuse (https://jats4r.org)
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
    -->

<pattern id="peer-review-errors-2" 
    xmlns="http://purl.oclc.org/dsdl/schematron"
    xmlns:j4r="http://jats4r.org/ns">
    
    <rule context="article[@article-type=$types-with-related-object]//article-meta">
        
        <assert test="related-object[@document-type=$peer-review-document-types]" role="error">
            Peer review articles with the article-type '<value-of select="ancestor::article/@article-type"/>' must contain a link to the article they pass judgement on, captured as a related-object element with the the appropriate document-type attribute value (one of: <value-of select="string-join(for $y in $peer-review-document-types return $y,', ')"/>).</assert>
        
    </rule>
    
</pattern>